{% extends 'base.html.twig' %}

{% block title %}New CommentReplies{% endblock %}

{% block body %}
    <h1>Create new CommentReplies</h1>

    {{ include('comment_replies/_form.html.twig') }}

    <a href="{{ path('comment_replies_index') }}">back to list</a>
{% endblock %}
