<div class="border-bottom comment">
    <div class="media px-4 pt-4">

        <a class="media-left" href="#">
            <img class="rounded-circle" src="http://lorempixel.com/40/40/people/1/">
        </a>
        <div class="media-body ml-4">
            <h4 class="media-heading user_name">{{ comment.getUser().getFullName() }}</h4>

            {{ comment.content }}

            <p><small><a href="">Like</a> - <a href="" class="responseLink">Response</a></small></p>
        </div>
        <p class="float-right"><small>5 days ago</small></p>
    </div>
    <div class="col-md-12 form-group commentResponse" >
        <textarea class="form-control commentField rounded-top rounded-bottom " placeholder="Enter a Comment" ></textarea>
    </div>
</div>
