nav{
    background-color: rgba(31, 114, 14, 0.9);
}
.user_name{
    font-size:14px;
    font-weight: bold;
}

/*.comments-list .media{*/
    /*border-bottom: 1px dotted #ccc;*/
/*}*/

textarea.form-control.commentField {
    height: 40px;
    /*resize: both;*/
}



div.commentResponse {
    display: none;
}

.comments-list .comment .media .dropdown
{
    display: inline;
}

.media .user-image
{
    width: 40px;
    height: 40px;
}

.media .commentActions a
{
    color: green;
}

.media .commentActions a:hover
{
    color: darkgreen;
}

.extraComment
{
    display: none;
}

.dot
{
    display: inline-block;
    border-radius: 100%;
    width: 10px;
    height: 10px;
}

#usersOnlineSidebar .nav-item
{
    line-height: 1;
}

.chatBox
{
    padding: 0px;
}

#chatView
{
    padding: 0 !important;

    height: 350px;
    width: 100%;
    overflow-y: scroll;
    overflow-wrap: break-word;
    /*background-color: #4e555b;*/
}

.sidebarUser
{
    cursor: pointer;
}

.sidebarUser:hover
{
    color: darkgray;;
}