{% extends 'base.html.twig' %}

{% block title %}
Home Page
{% endblock %}
{% block body %}
<h1>Home Page</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Maecenas fermentum viverra lectus eget ultrices.
    Maecenas vitae laoreet erat, quis dignissim mi. Sed ultricies scelerisque tortor vel posuere. Nam lacinia est
    velit, ac vestibulum elit posuere vel. Aenean ut odio ut leo imperdiet molestie sit amet at lorem. Etiam interdum
    imperdiet arcu, condimentum pulvinar urna. Proin tincidunt feugiat rutrum. Aenean sed enim urna. Cras dignissim
    lectus nisl, sit amet suscipit justo viverra et. Sed vehicula ullamcorper sem a tincidunt.
</p>
{% endblock %}